# Importei o pacote pandas para manipular um dataframe.

In [1]:
import pandas as pd

# Criei a variável url para armazenar o caminho até a arquivo e a variável petlove_df para armazenar o DataFrame com os dados do arquivo csv.

# Usei a função pd.read_csv() para ler e armazenar os dados e utilizei o parâmetro sep para definir o separador do arquivo.

# Usei a função display para mostrar o dataframe.

In [2]:
url = 'https://raw.githubusercontent.com/petlove/vagas/master/data/bi-analysis/data-test-analytics.csv'
petlove_df = pd.read_csv(url, sep = ',')
display(petlove_df)

,id,created_at,updated_at,deleted_at,name_hash,email_hash,address_hash,birth_date,status,version,city,state,neighborhood,last_date_purchase,average_ticket,items_quantity,all_revenue,all_orders,recency,marketing_source
0,8bf7960e-3b93-468b-856e-6c6c5b56f52b,2017-08-15 07:05:04.000000,2021-01-14 11:23:50.659119,NaN,312d206168a318614897e8ccac43bff9,83eb3aed9a44377df80ce876dce92c9a,8b4bfaa0cbc41a16f46da15ddcd6a907,1974-07-10 00:00:00.000000,active,2.31.7,Peixoto da Praia,AM,Aparecida 7ª Seção,2021-01-14 11:23:50.659119,151.142942,10,906.857651,6,35,crm
1,a39535b5-4647-4680-b4f6-3aed57c1f1ff,2019-12-31 21:53:34.000000,2021-01-08 11:23:50.660183,NaN,de448fcb47d0d6a873b2eef52b5ee595,72678bb35e2ac84ed373e81dd9dca28c,22f1cfa1847f38da3f3cb114dd2b9247,1940-07-06 00:00:00.000000,paused,3.30.12,Fernandes,RR,Santa Isabel,2021-01-08 11:23:50.660183,236.991790,4,236.991790,1,41,organic_search
2,dc067cd2-c021-42bd-8c0e-beb267280e66,2019-03-07 23:46:51.000000,2021-01-07 11:23:50.660990,NaN,cb09e447ddc38283373d56bb46498e6a,668f4ee9add29c7bd02c485f1b7509e3,6cb47446a086ee6483b3eb954f11467a,1963-03-18 00:00:00.000000,active,3.28.9,Lopes,RR,Estrela,2021-01-07 11:23:50.660990,211.955597,13,2331.511572,11,42,organic_search
3,b5e4caeb-3a9b-49ed-aa33-5acd06b162c1,2018-07-21 10:17:57.000000,2021-01-10 11:23:50.661827,NaN,52593437a405b11b3557170680ef80c8,d3fb45188d95c8d7cc49da5b4f727c86,0a6f0c54db1e6f19347f96b50f8092a4,1980-11-21 00:00:00.000000,active,3.34.3,Campos do Campo,PE,Confisco,2021-01-10 11:23:50.661827,204.113227,8,1224.679359,6,39,organic_search
4,d4ff61fc-f008-4e19-b8ae-bd70cfa3ae27,2018-06-08 12:09:50.000000,2021-01-18 11:23:50.662621,NaN,dbda4b778a966c21904238ed2d2005db,a0f76bc49b4c43327b536da6e1a1465e,143b9f169b4fa1692f6d79b5682169b5,1959-07-07 00:00:00.000000,active,3.19.8,das Neves,RJ,Vila Suzana Segunda Seção,2021-01-18 11:23:50.662621,252.940997,9,2023.527980,8,31,crm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,90c9fd5f-80d2-4f59-9970-6b3e6dac5f57,2017-09-12 00:35:59.000000,2021-01-31 11:23:53.286451,NaN,eb89d44181a7873ba67f24ff511fc57f,befbd1b02e0a4d52a913adbd093789ab,be93ff9948bf23bd373599f3d5d3798c,1961-09-12 00:00:00.000000,active,4.30.12,Souza,RN,Concórdia,2021-01-31 11:23:53.286451,215.079785,5,1075.398927,5,18,paid_search
9996,0edb7aec-8816-4904-bcd7-cbe141391441,2018-04-20 07:43:38.000000,2021-01-18 11:23:53.286720,NaN,8d5dc7dd1225fa9746f4509c8cadeedb,d1beba53e18c097d0bb2a4a91de9ad09,1aafbc7d76201a320a5f97dafd891e95,1969-09-15 00:00:00.000000,active,4.28.13,Silveira,AL,São Francisco,2021-01-18 11:23:53.286720,254.525826,10,2290.732434,9,31,organic_search
9997,30130652-d616-4b40-adbb-189e3351016c,2017-08-14 00:28:45.000000,2021-01-03 11:23:53.286992,NaN,9517c44d34d9965d25e77487a510b696,baffbfb45790c0bca921d418b2ccc987,0cad001abedb688cc64a819d04a3bc71,1960-01-14 00:00:00.000000,active,3.18.11,Martins,SC,Frei Leopoldo,2021-01-03 11:23:53.286992,208.741902,8,1252.451411,6,46,paid_search
9998,37b52952-afdd-425a-9149-4012ea48ac87,2017-01-19 19:19:03.000000,2021-01-09 11:23:53.287244,NaN,c800df6e2b9449cb5d6a812563566887,0373a1cdff0fca0b4c4111401051548c,ffd915817fc2bd67575436b7f8e57bde,1957-08-06 00:00:00.000000,active,5.51.6,Gomes das Flores,PA,Cdi Jatoba,2021-01-09 11:23:53.287244,211.174796,9,0.000000,0,40,direct
9999,97518d4a-88a1-49ff-a5cc-ad1e8967afdc,2017-02-18 03:15:32.000000,2021-01-16 11:23:53.287685,NaN,3d0a1b90c39270c39250680c4b26d082,92053227878d63b2fa05978c0a9bf9ae,89350fd7d01ec1a639fed0f193208cd9,1943-09-14 00:00:00.000000,active,4.36.11,Alves,MT,Vila Mangueiras,2021-01-16 11:23:53.287685,259.786807,7,2857.654879,11,33,direct

# Usei o método .value_counts para calcular a quantidade de assinaturas por status.

# Usei o argumento normalize =True para transformar os números em valores percentuais.

# Usei o map('{:.1%}'.format) com uma funçao para formatar o valor para um percentual com apenas uma casa decimal.

In [3]:
display(petlove_df['status'].value_counts(normalize =True).map('{:.1%}'.format))

active      85.2%
paused       9.7%
canceled     5.1%
Name: status, dtype: object

# Utilizei o método loc para localizar todas as assinaturas com o status 'paused'.

# Armazenei no dataframe assinatura_pausada_df todas as assinaturas pausadas e selecionei as colunas com os dados mais relevantes para a análise das assinaturas pausadas.

# Usei a função display para mostrar o dataframe assinatura_pausada_df.

In [4]:
assinatura_pausada_df = petlove_df.loc[petlove_df['status'] == 'paused', 
['name_hash',
'email_hash',
'birth_date',
'status',
'city',
'state',
'last_date_purchase',
'average_ticket'
]]
display(assinatura_pausada_df)

,name_hash,email_hash,birth_date,status,city,state,last_date_purchase,average_ticket
1,de448fcb47d0d6a873b2eef52b5ee595,72678bb35e2ac84ed373e81dd9dca28c,1940-07-06 00:00:00.000000,paused,Fernandes,RR,2021-01-08 11:23:50.660183,236.991790
21,14cf4f2ca92c40c84d73eb3c2fa86592,67efd8df3d20fa934a6a0e918c3d64ea,1960-02-14 00:00:00.000000,paused,Araújo da Serra,PI,2021-01-12 11:23:50.685653,203.890564
35,7a9d4b9c05a63382058508b735db5349,86c5ba60d18d135e9d28dbf6970eabf4,1992-02-14 00:00:00.000000,paused,Correia do Galho,RO,2021-01-23 11:23:50.695882,226.218157
40,6130021e2c01048a65f706c1b84d754c,57defd679eadce67cdb265f8ef891776,1969-11-10 00:00:00.000000,paused,Monteiro,AP,2021-01-14 11:23:50.698667,226.182000
43,34a6eb61124681de5b5da5b7146f3baa,fd5c90934d44717c947693ab29c43c63,1967-12-30 00:00:00.000000,paused,Farias,SP,2021-01-25 11:23:50.700136,213.950565
...,...,...,...,...,...,...,...,...
9925,ba8aa13e33eedd0b3aa372b7f2c4ddfa,f91935499146bbcf8738de9882be0e51,1967-01-12 00:00:00.000000,paused,Porto de da Cunha,GO,2021-01-17 11:23:53.264102,224.630489
9946,c84a734830e7a7468dab7ce57e562a3c,62d329c3fda32d3a6fa1b04f311a5102,1959-05-21 00:00:00.000000,paused,Cavalcanti,RJ,2021-01-24 11:23:53.270785,249.381005
9954,0e65f9a5236c537e988c82328f7693fa,9b69e7a0fccca71374a0125e9a4e2251,1953-03-06 00:00:00.000000,paused,Moura da Serra,GO,2021-01-17 11:23:53.274164,191.778196
9962,05b7f7024cc48f0dbe82645c9a604ba7,3b19ec0ff77b39f1c70be555b42d40bb,1954-03-14 00:00:00.000000,paused,Peixoto do Oeste,SC,2021-01-09 11:23:53.276585,206.195871
9964,01ff7b6c1ea8ee5d76c633f1a5cd0b8b,1186ce58ae70eec2ff891ae3e2654902,1981-12-20 00:00:00.000000,paused,Fernandes de Minas,MA,2021-01-17 11:23:53.277199,210.985992

# Utilizei o método loc para localizar todos as assinaturas com o status 'canceled'.

# Armazenei no dataframe assinatura_cancelada_df todas as assinaturas canceladas e selecionei as colunas com os dados mais relevantes para a análise das assinaturas canceladas.¶

# Usei a função display para mostrar o dataframe assinatura_cancelada_df.

In [5]:
assinatura_cancelada_df = petlove_df.loc[petlove_df['status'] == 'canceled', 
['name_hash',
'email_hash',
'birth_date',
'status',
'created_at',
'deleted_at',
'city',
'state',
'average_ticket'
]]
display(assinatura_cancelada_df)

,name_hash,email_hash,birth_date,status,created_at,deleted_at,city,state,average_ticket
12,1fe10e9a8553f96bf3ea94c0d743a94c,b5bdb61e489e0c5582edb5d359945ff7,1966-01-25 00:00:00.000000,canceled,2016-12-06 20:43:20.000000,2018-06-17 23:59:08.000000,Moreira do Galho,AP,190.017737
22,3eee22cd440a82d3c1df7f066f2f49ae,8706847e8ce006fa642aa292c064b6da,1979-10-18 00:00:00.000000,canceled,2017-09-21 09:33:03.000000,2018-12-11 04:09:05.000000,Ferreira Alegre,SP,234.207818
33,8398f79a4d9b2f337bcdaa8d815630b6,074864956cb319acf9173333e1d03131,1975-11-08 00:00:00.000000,canceled,2020-09-02 18:53:20.000000,2021-02-14 18:19:48.000000,Almeida,MS,215.223848
63,9dd8d6c398316660d3d2c7006b4d5dc9,da07d4746d9de26c763438f7bc4cb3c3,1976-07-28 00:00:00.000000,canceled,2017-02-06 09:03:14.000000,2020-08-24 09:44:52.000000,Costa Paulista,RS,211.300132
86,b50a5ad2dc8a0686ef123ccd77d35898,44a07b4f8c87bdaa7df03cf342ae5f80,1949-08-11 00:00:00.000000,canceled,2020-11-25 08:12:33.000000,2020-12-08 06:45:51.000000,Almeida Alegre,SE,214.151632
...,...,...,...,...,...,...,...,...,...
9817,e05b2a192e6946f58d1b5035cfd7743c,d63454de3024df5479e4da3d752a4600,1956-08-28 00:00:00.000000,canceled,2020-11-27 14:17:35.000000,2020-12-01 21:45:41.000000,Ribeiro,RR,183.850017
9840,a68ee65eb5331ad5b0522e4990dca876,1cf1eb5319afda5239b0638bd19bc64c,1993-03-16 00:00:00.000000,canceled,2018-11-11 10:18:51.000000,2020-03-20 21:22:18.000000,Moura,BA,224.884005
9927,450a83ba0e20fc856b6468e4fe367b24,4db08911475590e65305922ce4077d42,1960-02-01 00:00:00.000000,canceled,2018-12-23 14:02:25.000000,2019-07-26 12:01:06.000000,das Neves,GO,233.283850
9945,2b7ae78e437a558b2e095ef83a85712d,64c55ce42e515bbeb7d0e18345ddce20,1982-04-30 00:00:00.000000,canceled,2021-02-04 22:59:42.000000,2021-02-16 12:45:09.000000,Gomes do Sul,BA,231.366753
9976,9f69c37e77884e585b4a5c8d9970a9eb,bdd64b906d0507555fd472937d270cdb,1979-11-13 00:00:00.000000,canceled,2020-06-06 21:46:58.000000,2020-11-15 14:57:37.000000,Moraes do Norte,PE,245.062955

# Utilizei o método loc para localizar todos as assinaturas com o status 'active'.

# Armazenei no dataframe assinatura_ativa_df todas as assinaturas ativas e selecionei as colunas com os dados mais relevantes para a análise das assinaturas ativas.

# Usei a função display para mostrar o dataframe assinatura_ativa_df.

In [6]:
assinatura_ativa_df = petlove_df.loc[petlove_df['status'] == 'active',
['name_hash',
'email_hash',
'birth_date',
'status',
'city',
'state',
'average_ticket',
'recency']]
display(assinatura_ativa_df)

,name_hash,email_hash,birth_date,status,city,state,average_ticket,recency
0,312d206168a318614897e8ccac43bff9,83eb3aed9a44377df80ce876dce92c9a,1974-07-10 00:00:00.000000,active,Peixoto da Praia,AM,151.142942,35
2,cb09e447ddc38283373d56bb46498e6a,668f4ee9add29c7bd02c485f1b7509e3,1963-03-18 00:00:00.000000,active,Lopes,RR,211.955597,42
3,52593437a405b11b3557170680ef80c8,d3fb45188d95c8d7cc49da5b4f727c86,1980-11-21 00:00:00.000000,active,Campos do Campo,PE,204.113227,39
4,dbda4b778a966c21904238ed2d2005db,a0f76bc49b4c43327b536da6e1a1465e,1959-07-07 00:00:00.000000,active,das Neves,RJ,252.940997,31
5,cf265c74accb4515f76e88da7f0335b1,ea4e1b6806047a3b242407ef357b42d2,1955-04-17 00:00:00.000000,active,Aragão,AM,215.477590,32
...,...,...,...,...,...,...,...,...
9995,eb89d44181a7873ba67f24ff511fc57f,befbd1b02e0a4d52a913adbd093789ab,1961-09-12 00:00:00.000000,active,Souza,RN,215.079785,18
9996,8d5dc7dd1225fa9746f4509c8cadeedb,d1beba53e18c097d0bb2a4a91de9ad09,1969-09-15 00:00:00.000000,active,Silveira,AL,254.525826,31
9997,9517c44d34d9965d25e77487a510b696,baffbfb45790c0bca921d418b2ccc987,1960-01-14 00:00:00.000000,active,Martins,SC,208.741902,46
9998,c800df6e2b9449cb5d6a812563566887,0373a1cdff0fca0b4c4111401051548c,1957-08-06 00:00:00.000000,active,Gomes das Flores,PA,211.174796,40
9999,3d0a1b90c39270c39250680c4b26d082,92053227878d63b2fa05978c0a9bf9ae,1943-09-14 00:00:00.000000,active,Alves,MT,259.786807,33

# Utilizei o método query para consultar e a expressão lógica > para filtrar os dados maiores que 45 na coluna 'recency'.

# Armazenei no dataframe ultima_compra45dias_df o resultado da consulta.

# Usei a função display para mostrar o dataframe ultima_compra45dias_df.

In [7]:
ultima_compra45dias_df = assinatura_ativa_df.query('recency > 45')
display(ultima_compra45dias_df)

,name_hash,email_hash,birth_date,status,city,state,average_ticket,recency
14,7035cea4aa87640414515f8304a61e60,d886879cf36449f0717952c8545f7bb3,1992-01-03 00:00:00.000000,active,da Cruz Verde,PE,170.226789,48
17,75bdc9ab2bf16c43e3e61839926c5fb2,f328ff43d2240915047e24d43ff9b366,1946-01-16 00:00:00.000000,active,Moraes das Flores,PR,215.059698,47
31,76672660a1f1e9b2b5f4c4f84776ee86,08cfa55089a52dccf102ac5868d9e99d,1981-03-06 00:00:00.000000,active,Dias do Sul,CE,239.596286,48
34,269975b07f8f9d78eba4de6d647d8b79,78f7055f4b360f73a613ae41a253e6a8,1942-12-06 00:00:00.000000,active,Pereira da Mata,PE,243.957050,46
97,18dbf743d7af5eb4b93d020d1d0c343b,b61c03190f35530bdb3e5f8075492b73,1983-03-21 00:00:00.000000,active,Almeida da Praia,SE,248.040153,49
...,...,...,...,...,...,...,...,...
9953,bec1340fde9bd55300972bf726b211a4,a8c504c91a5f006cd9445f8146d975ff,1980-09-10 00:00:00.000000,active,Cardoso,AL,258.653631,46
9959,d25ea0176d09773279389472c45e8c9d,a3331a01fde4a50bc5e3c937dcb4e131,1980-11-03 00:00:00.000000,active,Cavalcanti,MA,215.155258,46
9988,ecba6ae9f0f15cccb9df2f3f61537ff7,cbe116c368d1b4da12460d4461fa9f81,1979-11-21 00:00:00.000000,active,Alves do Sul,AC,175.972000,48
9993,06a4a8de42eeb0d09bb2d1b6da63d75d,3ec2df5132d16505ed26e1b02b89c84d,1982-10-17 00:00:00.000000,active,da Cunha,PR,215.882705,48
9997,9517c44d34d9965d25e77487a510b696,baffbfb45790c0bca921d418b2ccc987,1960-01-14 00:00:00.000000,active,Martins,SC,208.741902,46

# Usei a função pd.to_datetime para alterar o data type das colunas 'created_at' e 'deleted_at'.

# Separei e criei duas novas colunas para date e time.

# Usei a função pd.to_datetime para alterar o data type das colunas 'created_day' e 'deleted_day'.

# Usei o método .info() para visualizar as informações do dataframe.

In [8]:
assinatura_cancelada_df['created_at'] = pd.to_datetime(assinatura_cancelada_df['created_at'])
assinatura_cancelada_df['deleted_at'] = pd.to_datetime(assinatura_cancelada_df['deleted_at'])

assinatura_cancelada_df['created_day'] = assinatura_cancelada_df['created_at'].dt.date
assinatura_cancelada_df['created_hour'] = assinatura_cancelada_df['created_at'].dt.time

assinatura_cancelada_df['deleted_day'] = assinatura_cancelada_df['deleted_at'].dt.date
assinatura_cancelada_df['deleted_hour'] = assinatura_cancelada_df['deleted_at'].dt.time

assinatura_cancelada_df['created_day'] = pd.to_datetime(assinatura_cancelada_df['created_day'])
assinatura_cancelada_df['deleted_day'] = pd.to_datetime(assinatura_cancelada_df['deleted_day'])

assinatura_cancelada_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 505 entries, 12 to 9976
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name_hash       505 non-null    object
 1   email_hash      505 non-null    object
 2   birth_date      505 non-null    object
 3   status          505 non-null    object
 4   created_at      505 non-null    datetime64[ns]
 5   deleted_at      505 non-null    datetime64[ns]
 6   city            505 non-null    object
 7   state           505 non-null    object
 8   average_ticket  505 non-null    float64
 9   created_day     505 non-null    datetime64[ns]
 10  created_hour    505 non-null    object
 11  deleted_day     505 non-null    datetime64[ns]
 12  deleted_hour    505 non-null    object
dtypes: datetime64[ns](4), float64(1), object(8)
memory usage: 55.2+ KB

# Fiz um cálculo entre tabelas de data resultando na diferença da quantidade de dias da data de criação pela data de cancelamento.

In [20]:
assinatura_cancelada_df['Tempo de assinatura'] = assinatura_cancelada_df['deleted_day'] - assinatura_cancelada_df['created_day']
display(assinatura_cancelada_df['Tempo de assinatura'])

12      558 days
22      446 days
33      165 days
63     1295 days
86       13 days
          ...
9817      4 days
9840    495 days
9927    215 days
9945     12 days
9976    162 days
Name: Tempo de assinatura, Length: 505, dtype: timedelta64[ns]

# Usei o método describe para cria um resultado estatístico do data frame assinatura_cancelada_df.

In [18]:
display(assinatura_cancelada_df.describe())

       average_ticket          Tempo de assinatura
count      505.000000                          505
mean       217.438501  472 days 04:39:26.732673264
std         22.503191  423 days 15:33:57.885958040
min        151.804161              1 days 00:00:00
25%        201.934997            134 days 00:00:00
50%        217.998175            322 days 00:00:00
75%        232.135380            751 days 00:00:00
max        278.300436           1771 days 00:00:00